

.productDetailsComponent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37%;
}

.returnToHomeComponent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23%;
    gap: 10px;
}
.alertPage{

    max-width: 73%;
    align-items: center;
}
.alertComponent{
    max-width: 100%;

    display: flex;
    justify-content: center;

    align-items: center;

}