<mat-paginator
  #paginator
  [length]="totalCoffees"
  [pageSize]="10"
  (page)="pageChanged($event)"
></mat-paginator>

<!--  -->
<div class="grid-component">
  <div class="grid-coffee-component">
    <div class="card" *ngFor="let coffee of coffees$ | async">
      <h3>
        <a [routerLink]="['/product-details', coffee.id]">{{
          coffee.blend_name
        }}</a>
      </h3>
      <p>{{ coffee.origin }}</p>
      <p>{{ coffee.variety }}</p>
      <p>{{ coffee.notes }}</p>
      <p>{{ coffee.intensifier }}</p>
    </div>
  </div>
</div>
