<mat-paginator
  #paginator
  [length]="totalCoffees"
  [pageSize]="10"
  (page)="pageChanged($event)"
></mat-paginator>
<!--  -->

<div class="coffeeComponent">
  <div class="container-fluid">
    <div class="row coffeeRow">
      <div
        *ngFor="let coffee of coffees$ | async"
        class="col-lg-3 col-md-4 col-sm-12 col-12 mb-4 coffeeColumn"
      >
        <div class="coffee-card p-3 border rounded">
          <div class="card-header">
            <h5 class="card-title">{{ coffee.blend_name }}</h5>
          </div>
          <div class="card-content">
            <p>{{ coffee.origin }}</p>
            <p>Varitey- {{ coffee.variety }}</p>
          </div>
          <div class="card-actions buttonsComponent">
            <a [routerLink]="['/product-details', coffee.id]"
              ><button class="viewDetailsButton btn btn-primary">
                View Product Details
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
